body {
}

#Contents {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: min-content 1fr min-content;
	height: 98vh;
	margin: 0em;
}

header {
	grid-column: 1 / span 2;
	grid-row:    1;	
	background: #F1F3F4;
}

footer {
	grid-column: 1 / span 2;
	grid-row:    3;	
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	background: #e4ebf2;
}

#ServerVersion {
	justify-self: end;
}

h1 {
	margin-top: 0.5em;
	margin-bottom: 0em;
}

h2 {
	margin-top: 0.5em;
	margin-bottom: 0;
}

.Subtitle {
	font-size: smaller;
	font-weight: lighter;
}

#Versions {
	justify-self: end;
	align-self: end;
	display: grid;
	grid-template-columns: auto auto auto;
}

.VersionLabel {
	margin-right: 0.5em;
}

.VersionName {
	margin-right: 0.5em;
}

.VersionDate {
}

ul {
	padding-left: 0.7em;
	margin: 0;
}

#WorldTree > ul {
	padding: 0;
}

li {
	list-style-type: none;
}

#WorldTree {
	background: #fffbf0;
	grid-column: 1;
	overflow-y: auto;
}

div #WorldTree {
	padding-left: 0;
}

#WorldTree button {
}

.Treeline {
	/* One line in the tree with button and item */
	display: grid;
	grid-template-columns: min-content auto;
}

/* first element of a tree item: 
	nothing (for the items without children), 
	opener (for tree openable nodes) */

.noButton {
	visibility: hidden;
}

.opener, .noButton {
	background: none;
	border: none;
	outline: none;
	transition: transform 0.3s ease-in-out;
}

.opener::after, .noButton::after {
	font-size: 14px;
	content: "▷";
}

.opener.open::after {
	font-size: 14px;
	content: "▶";
}

li.open > .Treeline > .opener {
	transform: rotateZ(90deg);
	transform-origin: 50% 50%;
}

.loader {
	margin: 0 0.4em;
	align-self: center;
	border: 0.2em solid #cfcbc0; /* #f3f3f3; Light grey */
	border-top: 0.2em solid black; /* #3498db; Blue */
	border-radius: 50%;
	width: 0.5em;
	height: 0.5em;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.Treeitem {
	/* Span with a name and a number */
	display: grid;
	grid-template-columns: auto auto;
	cursor: pointer;
}

.Treeitem.selected {
	background: #cfcbc0;
}

.TerritoryName {
	font-weight: bold;
}

.TerritoryValue {
	font-weight: bold;
	align-self: end;
	justify-self: end;
}

.Confirmed {
	font-weight: bold;
	margin-left: 1em;
}

.Deaths {
	color: red;
	font-weight: bold;
	margin-left: 1em;
}

.Recovered {
	color: green;
	font-weight: bold;
	margin-left: 1em;
}

#Graphics {
	background: #ffede0;
}

.GraphicsHeader {
	display: grid;
	grid-template-columns: auto auto;
	margin-bottom: 0.5em;
}

.TerritoryInfo {
	font-size: small;
	font-weight: normal;
}

.TerritoryInfo.empty {
	visibility: hidden;
}

.DatasetInfo {
	cursor: pointer;
}

.DatasetInfo.selected {
	background: #cfbdb0;
}

.DatasetLabel {
	font-weight: bold;
	margin-left: 0.3em;
	margin-right: 0.5em;
}

.DatasetDate {
	float: right;
}

.Datasets {
	align-self: end;
}

.Charts {
	
}

#Casechart > svg {
	height: 30vh;
}

#Changechart > svg {
	height: 30vh;
}

svg {
	fill: #fff8ea;
}

svg > rect {
	stroke-width: 0.3;
	stroke: black;
}

.subtitle {
	margin-left: 1em;
	font-size: smaller;
	font-weight: lighter;
}

.ValueAxis {
	fill: none;
}

.ScalingButton {
	cursor: pointer;
}

.ScalingButton.disabled {
	cursor: default;
}

.ScalingRectangle {
	stroke-width: 0.2;
	stroke: darkslategray;
	fill: lightgray;
}

.disabled > .ScalingRectangle {
	stroke: gray;
	fill: #ddd;
}

.ScalingText {
	font-size: 5px;
	fill: black;
}

.disabled > .ScalingText {
	fill: gray;
}

.Majorline {
	stroke: #aaa;
	stroke-width: 0.5;
}

.Minorline {
	stroke: #ddd;
	stroke-width: 0.5;
}

.MajorText {
	font-size: 6px;
	fill: gray;
}

.DateAxis {
	fill: none;
}

.Monthline {
	stroke: #aaa;
	stroke-width: 0.5;
}

.Weekline {
	stroke: #ddd;
	stroke-width: 0.5;
}

.Baseline {
	stroke: black;
}

.MonthText {
	font-family: sans-serif;
	font-size: 7px;
	fill: black;
}

.GraphicsArea {
	fill: none;
}

.Bar:hover {
	opacity: 0.5;
}

.Bar rect {
	stroke: gray;
	stroke-width: 0.2;
}

.confirmed {
	fill: orange;
}

.deaths {
	fill: red;
}

.recovered {
	fill: green;
}

.decided {
	fill: green;
}

.ButtonText {
	font-family: sans-serif;
	font-size: 6px;
	fill: black;
}

#Casechart .ChartHeader {
	display: grid;
	grid-template-columns: auto auto; 
}

#Changechart .ChartHeader {
	display: grid;
	grid-template-columns: auto auto; 
}

.ChartButtons {
	justify-self: start;
}

.LegendButton {
	width: max-content;
	margin-right: 0.5em;
}

.LegendButton.selected {
	border-style: solid;
	border-color: blue;
}

.LegendBar {
	display: inline-block;
	width: 1em;
}

.LegendLabel {
	margin-left: 0.3em;
}

.LegendValue {
	margin-left: 0.3em;
	font-weight: bolder;
}

#Tooltip .LegendBar {
	grid-column: 1;
}

#Tooltip .LegendLabel {
	grid-column: 2;
}

#Tooltip .LegendValue {
	grid-column: 3;
	justify-self: end;
}

#Tooltip {
	display: grid;
	grid-template-columns: auto auto auto;
	
	visibility: hidden;
	position: fixed;
	
	z-index: 1;
	background-color: white;
	padding: 0.3em;
	border-style: solid;
	border-radius: 0.4em;
	border-width: 2px;
	border-color: blue;
}

header,
footer,
#WorldTree,
#Graphics {
	border-radius: 0px 0.5em 0.5em;
	border: 1px solid;
	padding: .5em;
	margin: .5em;
}