body {
}

#Contents {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: min-content 1fr min-content;
	min-height: 98vh;
	margin: 0em;
}

header {
	grid-column: 1 / span 2;
	grid-row:    1;	
	display: grid;
	grid-template-columns: auto auto;
	background: #F1F3F4;
}

h1 {
	margin-bottom: 0em;
}

.Subtitle {
	font-size: smaller;
	font-weight: lighter;
}

#Buttons {
	position: fixed;
	right: 0.5em;
}

#Versions {
	justify-self: end;
	align-self: end;
	display: grid;
	grid-template-columns: auto auto auto;
}

.VersionLabel {
	margin-right: 0.5em;
}

.VersionName {
	margin-right: 0.5em;
}

.VersionDate {
}

li {
	list-style-type: none;
}

#CountryList {
	background: #fffbf0;
	grid-column: 1;
	display: grid;
	grid-template-columns: auto auto auto auto;
}

.treeButton {
	grid-column: 1;
	background-color: #F1F3F4;
	border: solid;
	border-color: #aaa;
	border-radius: 4px;
	border-width: 0.1em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	padding-top: 0.01em;
	padding-bottom: 0.1em;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.subtreeButton {
	grid-column: 2;
	background-color: #F1F3F4;
	border: solid;
	border-color: #aaa;
	border-radius: 4px;
	border-width: 0.1em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	padding-top: 0.01em;
	padding-bottom: 0.1em;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.treeSpan {
	grid-column: 1;
}

.subtreeSpan {
	grid-column: 2;
}

.selected {
	background: #ddd9d0;
}

.ListItem {
	cursor: pointer;
	grid-column: 3;
	margin-left: 0.5em;
}

.CountryName {
	font-weight: bold;
}

.LandName {
	padding-left: 0.5em;
}

.StateName {
	padding-left: 1em;
}

.ListValue {
	font-weight: bold;
	justify-self: end;
	grid-column: 4;
}

.Confirmed {
	font-weight: bold;
	margin-left: 1em;
}

.Deaths {
	color: red;
	font-weight: bold;
	margin-left: 1em;
}

.Recovered {
	color: green;
	font-weight: bold;
	margin-left: 1em;
}

#Graphics {
	background: #ffede0;		
}

#Casechart {
	
}

#Changechart {
	
}

#Casechart button {
	grid-column: 3;
	width: auto;
}

svg {
	fill: #f3f3f3;
}

.LinLogButtons > .active {
	background-color: #eee;
}

.subtitle {
	margin-left: 1em;
	font-size: smaller;
	font-weight: lighter;
}

.ValueAxis {
	fill: none;
}

.Majorline {
	stroke: #aaa;
	stroke-width: 0.5;
}

.Minorline {
	stroke: #ddd;
	stroke-width: 0.5;
}

.MajorText {
	font-size: 6px;
	fill: gray;
}

.DateAxis {
	fill: none;
}

.Monthline {
	stroke: #aaa;
	stroke-width: 0.5;
}

.Weekline {
	stroke: #ddd;
	stroke-width: 0.5;
}

.Baseline {
	stroke: black;
}

.MonthText {
	font-family: sans-serif;
	font-size: 7px;
	fill: black;
}

.GraphicsArea {
	fill: none;
}

.Bar:hover {
	opacity: 0.5;
}

.BarConfirmed {
	fill: orange;
	stroke: gray;
	stroke-width: 0.2;
}

.BarDeaths {
	fill: red;
	stroke: gray;
	stroke-width: 0.2;
}

.BarRecovered {
	fill: green;
	stroke: gray;
	stroke-width: 0.2;
}

.ButtonText {
	font-family: sans-serif;
	font-size: 6px;
	fill: black;
}

#Casechart h3 {
	display: grid;
	grid-template-columns: auto auto auto;
}

.HeaderLegend {
	grid-column: 2;	
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 0 0.5em;
}

.LegendConfirmed {
	grid-column: 1;
	display: grid;
	align-self: end;
	padding: 0 0.3em;
	font-size: smaller;
	font-weight: lighter;
}

.LegendRecovered {
	grid-column: 2;	
	display: grid;
	align-self: end;
	padding: 0 0.3em;
	font-size: smaller;
	font-weight: lighter;
}

.LegendDeaths {
	grid-column: 3;
	display: grid;
	align-self: end;
	padding: 0 0.3em;
	font-size: smaller;
	font-weight: lighter;
}

.LegendBar {
	width: 1em;
	height: 0.7em;
	grid-column: 1;
}

.LegendLabel {
	grid-column: 2;
	margin-left: 0.3em;
}

.LegendValue {
	grid-column: 3;
	justify-self: end;
	margin-left: 0.3em;
	font-weight: bolder;
}

#Tooltip {
	display: grid;
	grid-template-columns: auto auto auto;
	
	visibility: hidden;
	position: fixed;
	
	z-index: 1;
	background-color: white;
	padding: 0.3em;
	border-style: solid;
	border-radius: 0.4em;
	border-width: 2px;
	border-color: blue;
}

.LinearButton {
	cursor: pointer;
	fill: lightgray;	
}

.LogarithmicButton {
	cursor: pointer;
	fill: gray;	
}

header,
#CountryList,
#Graphics {
	border-radius: 0px 0.5em 0.5em;
	border: 1px solid;
	padding: .5em;
	margin: .5em;
}