#Graphics {
	background: #ffede0;
	grid-row: 2 / span 2;
	display: grid;
	grid-template-columns: auto auto;
}

.ChartColumn {
	grid-column: 1;
	display: grid;
}

.AspectButtons {
	grid-row: 1;
}

.ExtraAspectButtons {
	grid-column: 2;
	margin-left: 1em;
}

.SecondaryAspectButtons {
	display: grid;
	border-style: solid;
	border-width: 1px;
	background: #fff8ea;
}

.TertiaryAspectButtons {
	display: grid;
	border-style: solid;
	border-width: 1px;
	background: #fff8ea;
	margin-top: 1em;
}

.ButtonText {
	font-family: sans-serif;
	font-size: 6px;
	fill: black;
}

.AspectButton {
	width: max-content;
	margin-right: 0.5em;
}

.AspectButton.selected {
	border-style: solid;
	border-color: blue;
}

.AspectListButton {
}

.AspectListButton.selected {
	border-style: solid;
	border-color: blue;
}

.AspectSimpleButton {
	width: max-content;
	margin-right: 0em;
}

.confirmed {
	fill: orange;
}

.deaths {
	fill: red;
}

.recovered {
	fill: green;
}

.decided {
	fill: green;
}

.active {
	fill: #33ccff;
}
